[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
pendulum = "*"
python-dotenv = "*"
openai = "*"
urllib3 = "*"
tabulate = "*"
webexteamssdk = "*"
python-weather = "*"
async-timeout = "*"
webex-bot = "*"
coloredlogs = "*"

[dev-packages]

[requires]
python_version = "3.10"
